<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>ripplebeam</string>
	<key>CFBundleIdentifier</key>
	<string>com.jerrywangv2.ripplebeam.ripplebeam</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>App needs access to your Desktop to load and save files.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>App needs access to your Documents folder to read configurations.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>App needs access to your Downloads folder to export logs.</string>
</dict>
</plist>
